.hidden{
    display:none
}

body{
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    position: relative;
    z-index: 1;
    /* color:white; */
}

/* .body::after {
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    Opacity:0.1;

  } */

  .importance{
    -webkit-box-shadow: 0px 1px 23px 6px #FF1010; 
    box-shadow: 0px 1px 23px 6px #FF1010;
  }
  .complete{
   text-decoration: line-through ;
  }