body {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 6px gray; 
}

input {
  border-radius: 4px;
  border: none;

  box-shadow: none;
  width: 10em;
  height: 3em;
  font-size: 1em;
  background-color: transparent;
  -webkit-appearance: none;

  -moz-appearance: none;

  -o-appearance: none;
  border-bottom: 1px solid white;
  appearance: none;
  margin: 10px;
}
input,
select,
textarea:focus,
input:focus,
input::placeholder {
  color: white;
  text-align: center;

  outline:none;
}
button {
  border: none;
  outline: 1;
  margin: 5px;
  border-radius: 10px;
}
button:focus {
  outline: 0;
}

/* .body::after {
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    Opacity:0.1;

  } */

.importance {
  -webkit-box-shadow: 0px 1px 23px 6px #ff1010;
  box-shadow: 0px 1px 23px 6px #ff1010;
}
.complete {
  text-decoration: line-through;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.loginBox,
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text,
.welcomeText {
  font-size: 3em;
 
}
.btn {
  display: block;
}

.time-date {
  font-size: 3em;
  text-align: center;
}
.date {
  font-size: 0.7em;
}


ul {
  display: flex;
  flex-direction: column;
  align-items:right;
  font-size: 1em;
  height:200px;
  width: 300px;
  padding-left:220px;
}
ul li {
  /* margin: 0 auto; */
  width:250px;
  display: flex;
  justify-content: space-between;
  
}


li span{
  text-align: left;
}

li button{
  background-color:transparent;
  border: 2px solid #C4C4C4;
  font-weight: bold;
  color:#C4C4C4;
  -webkit-box-shadow: 0px 0px 8px 2px #C4C4C4; 
  box-shadow: 0px 0px 4px 2px #C4C4C4;
  width:50px;
}

.btn,
.delete-all,
.BgButton,
.logoutbutton {
  margin: 10px;
  width: 10em;
  height: 2em;
  background-color:transparent;
  border: 2px solid #C4C4C4;
  font-weight: bold;
  color:white;
  -webkit-box-shadow: 0px 0px 8px 2px #C4C4C4; 
  box-shadow: 0px 0px 4px 2px #C4C4C4;
}

.bottom{
  display: flex;
  flex-direction: column;
}
/* .delete-all{
} */

#weather{
  font-size: 2em;

}

.hidden {
  display: none;
}
